h1{color: red;

}

h3{color: red;
    font-style: italic;

}

.cls{color: #871212;
    line-height: 45px;

}

#id{text-decoration: line-through;

}

#id1{background-color: yellow;

}

#id2{font-style: italic;
    text-decoration: underline;
    
}
#id3{color: red;
    font-style: italic;
    background-color: yellow;

}

.cl{color: #871212;
    font-family: monospace;
    word-spacing: 10px;

}

p{color: #871212;

}