
.top{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.child{
    font-style: italic;
    border: 5px solid red;
    background-color: black;
    color: white;
    height: 100px;
    width: 200px;
    border-radius: 30px;
    padding: 10px;

}